

.App-header {
  display: flex;
  background-color: rgb(235, 50, 50);
  height: 150px;
  padding: 20px;
  color: black;
  list-style: none; 
  flex-direction: row;

}


.veggielist {
  display: flex;
  flex-direction: row;
  color: black;
  list-style: none;
}